.color-primary{
    color:blueviolet;
}

.font-50{
    font: size 50px;
}

.select-style1{
    height: 50px;
    font-size: 20px;
    color:blue;
}

.tb-head>tr>td{
    border:1px solid black;
    font-size: 14px;
    font-weight: bold;
}

.tb-body>tr>td{
    border:1px solid black;
}

p {
    background:yellowgreen;
    color:darkgreen;
}

.class1{
    background:red;
    color:darkgoldenrod
}

#id1{
    background:blue;
    color:yellow;
}

.tb td{
    border:1px solid black;
}

