body{
    /* background-image: url(../IMG/SAMSUNG_2.jpeg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-frame{
    text-align: center;
    width:1300px;
    /* border:1px solid rgb(13, 11, 11); */
    margin-left: auto;
    margin-right: auto;
}
#logo{
    margin-top: 10px;
    margin-bottom: 10px;
    float: center;
}
.menu{
    margin: 0;
    padding: 0;

}
.menu-img{
    float: left;
}

ul {
    background-color: #639aed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li { float: left; }
li a {
    display: block;
    background-color: #639aed;
    color: #000000;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
/* li a.current {
    background-color: #639aed;
    color: white;
} */
li a:hover{
    background-color: #4016ff;
    color: white;
}